body {
    font-family: 'Poppins', sans-serif;
    background: #cfdce0;
    color: #465d90;
}

h1, h3 {
    text-align: center;
}

div.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

textarea {
    border-radius: 1em;
    padding: 1em;
}

input {
    border-radius: 0.5em;
    border-width: 1px;
    padding: 0.5em;
}

input[type=submit] {
    font-weight: bolder;
    padding: 0.5em 1em;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: larger;
    margin: 0.5em -2em;
    padding: 2em;
    border-style: solid;
    border-width: thin;
    border-color: #9a9aa9;
    border-radius: 1em;
    text-align: left;
}

.error {
    color: #da6c0e;
    font-size: large;
}

.a {
    text-decoration: none;
}

.share-div {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.8em;
    padding-right: 0.6em;
    background-color: #28a7e8;
}

.share-img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.share-text {
    color: white;
    vertical-align: middle;
    font-weight: bold;
    font-size: 90%;
}
