<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="template :: header"></head>

<body>
<h1>Copy paste something</h1>

<div class="container">
    <form action="#" th:action="@{/}" th:object="${messageDto}" method="post">
        <div>
            <textarea placeholder="Put your message here" cols="100" rows="9" th:field="*{text}"></textarea>
            <div class="error" th:errors="*{text}"></div>
        </div>
        <div>
            <label>
                Protect it by secret
                <input placeholder="optional" size="20" maxlength="20" th:field="*{secret}">
            </label>
            <span class="error" th:errors="*{secret}"></span>
        </div>
        <div>
            <span>Set self-destruction in </span>
            <select th:field="*{duration}">
                <option th:each="duration : ${durationList}"
                        th:value="${duration.getKey()}"
                        th:text="${duration.getValue()}">
                </option>
            </select>
            <span class="error" th:errors="*{duration}"></span>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</div>
</body>

</html>