<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="template :: header"></head>

<body>
<h3>This message is protected by secret. Do you know it?</h3>

<div class="container">
    <form method="post">
        <input placeholder="secret" size="20" maxlength="20" name="secret" th:value="${secret}">
        <input type="submit">
    </form>
    <p class="error" th:text="${error}"></p>
</div>

</body>

</html>