<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="template :: header"></head>

<body>

<div class="container">

    <div class="share-div">
        <a class="a" th:href="'https://t.me/share/url?url=' + ${#request.requestURL}" target="_blank" rel="nofollow" title="Share on Telegram">
            <img class="share-img" th:src="@{/images/telegram.svg}" alt="Telegram"/>
            <span class="share-text">Share</span>
        </a>
    </div>

    <pre th:text="${message}"></pre>

</div>
</body>
</html>